<% provide(:title, "プロフィール設定") %>

<%= render 'layouts/header_back', back_path: signout_path, method: :delete %>

<div class="profile-box">
  <h2 class="profile-title">
    プロフィール設定
  </h2>
  プロフィールを設定しよう

  <div class="profile-image bg-image">
  </div>

  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>

  <%= form_with model: @user, url: users_path do |f| %>
    <div class="form-group">
      <%= f.label :name, class: "label" %>
      <%= f.text_field :name, class: "form-control", placeholder: "氏名を入力" %>
    </div>

    <div class="form-group">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, class: "form-control", placeholder: "会社用メールアドレスを入力" %>
    </div>

    <div class="form-group">
      <%= f.label :phone_number, class: "label" %>
      <%= f.text_field :phone_number, class: "form-control", placeholder: "社用携帯の番号を入力" %>
    </div>

    <div class="form-group">
      <%= f.label :description, class: "label" %>
      <%= f.text_area :description, class: "form-control", placeholder: "自己紹介を入力" %>
    </div>

    <%= f.submit "プロフィールを保存する", class: "btn btn-primar" %>
  <% end %>
</div>
